body
    font-family: sans-serif
.button 
    border: none
    border-radius: 10px
    background-color: $main-color
    padding: 18px 30px
.container
    width: 87%
    max-width: 1200px
    margin: auto