body
    +light
.button 
    border: none
    border-radius: 10px
    background-color: $main-color
    padding: 18px 30px
.container
    width: 87%
    max-width: 1200px
    margin: auto
.button
    &:hover
        background-color: darken($main-color,5%)
        cursor: pointer
    &:focus
        outline-style: none
        outline-width: 0px !important
        outline-color: none !important
.input
    width: 240px
    height: 65px
    border-radius: 10px
    border: 1px solid #dddddd
    padding: 26px
    &:focus
        outline-style: none
        outline-width: 0px !important
        outline-color: none !important
        border-color: orange
.arrows
    &__left, &__right
        cursor: pointer

.section
    &-title
        text-align: center